body {
  font-family: "Poppins", sans-serif;
  font-size: larger;
  overflow-x: hidden;
}

/* Fonts */
.poppins-thin {
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-weight: 900;
  font-style: italic;
}

/* Animation */
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes translateXAnimation {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes translateYAnimation {
  from {
    opacity: 0;
    transform: translateX(1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.translateX {
  animation: translateXAnimation linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.translateY {
  animation: translateYAnimation linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@media only screen and (max-width: 767px) {
  .translateY {
    animation: translateXAnimation linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.step-box {
  opacity: 0; /* Start with invisible steps */
  transform: scale(0.5); /* Start with scaled-down steps */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.step-box.visible {
  animation: popup 0.5s forwards;
}

@keyframes stamp {
  0% {
    transform: scale(0.5) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(2) rotate(-10deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.guarantee-img {
  animation: stamp 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.guarantee-list li {
  list-style: none;
  margin-bottom: 10px;
}

.guarantee-list i {
  color: #28a745;
  margin-right: 10px;
}

/* Hero Section */
.hero-section {
  position: relative;
  height: 100vh;
  background: #000;
  color: #ed192e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: flex-start; /* Align items to the left */
  text-align: left;
  padding: 0 5%;
}

.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-content {
  z-index: 1;
  margin-top: 20%; /* Adjust this value to move the content vertically */
  max-width: 600px; /* Limit the width for better readability */
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 15px 0;
}

.hero-icons {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: rgba(237, 25, 46, 0.8); /* Semi-transparent background */
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: space-around;
  padding: 10px 0;
  z-index: 2;
  border-radius: 25px;
}

.hero-icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 10px; /* Add margin for spacing */
  flex: 1; /* Allow flex grow */
  min-width: 120px; /* Set minimum width for icons */
}

.hero-icons .icon i {
  font-size: 2rem; /* Set font size for icons */
  margin-bottom: 5px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .hero-content {
    margin-top: 30%; /* Adjust margin for smaller screens */
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-icons {
    width: 90%; /* Increase width for smaller screens */
    padding: 5px 0;
  }
}

@media (max-width: 576px) {
  .hero-content {
    margin-top: 40%; /* Adjust margin for smaller screens */
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .hero-icons .icon {
    flex: 0 0 45%; /* Adjust flex basis for small screens */
    margin: 5px; /* Reduce margin for spacing */
  }
}

.white-background {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

/* Custom CSS for Feature Boxes */
.feature-box {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.feature-box:hover {
  transform: translateY(-10px);
}

.feature-box h5 {
  color: #ed192e;
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: bold;
}

.feature-box p {
  font-size: 0.9rem;
}

.feature-box i {
  color: rgb(86, 82, 82);
}

@media (max-width: 768px) {
  .feature-box i {
    font-size: 2.5rem;
  }

  .feature-box h5 {
    font-size: 1rem;
  }

  .feature-box p {
    font-size: 0.8rem;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .feature-box {
    padding: 10px;
  }

  .feature-box i {
    font-size: 2rem;
  }

  .feature-box h5 {
    font-size: 0.9rem;
  }

  .feature-box p {
    font-size: 0.7rem;
  }
}

.container {
  padding-top: 10%;
}

.red-container {
  background-color: #ed192e;
  color: #fff !important;
  border-radius: 25px;
  margin: 5%;
  padding: 5%;
}

.red-container h2 {
  color: #fff;
}

.black-container {
  background-color: #000;
  border-radius: 25px;
  margin: 5%;
  padding: 5%;
}

.section-title {
  font-size: 2rem;
  color: #ed192e;
}

/* Nav Bar */

.navbar {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  width: 100%;
  z-index: 2;
}

.navbar-brand {
  color: #ed192e !important;
  font-size: xx-large;
}

.navbar-nav .nav-link {
  color: #ed192e !important;
}

/* Steps Section */
#how-it-works {
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.step-circle {
  background-color: #ed192e;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0 auto;
}

.step-title {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .step-circle {
    width: 80px;
    height: 80px;
    font-size: 1.75rem;
  }

  .step-title {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .step-circle {
    width: 100px;
    height: 100px;
    font-size: 2rem;
  }

  .step-title {
    font-size: 1.5rem;
  }
}

.section-title {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 30px;
  color: #ed192e;
}

.comparison-slider {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  overflow: hidden;
}
.comparison-slider img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.comparison-slider img.after {
  clip: rect(0, 50%, 100%, 0);
}
.comparison-slider input[type="range"] {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  -webkit-appearance: none;
  background: transparent;
}
.comparison-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

/* Custom CSS for Pricing section */
#pricing {
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.pricing-card {
  background-color: #000;
  color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.pricing-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.pricing-card img {
  border-radius: 12px;
}

.veneer-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ff6347;
}

.veneer-details {
  text-align: left;
  margin-bottom: 1.5rem;
  padding-left: 0;
}

.veneer-details li {
  margin-bottom: 0.5rem;
  padding-bottom: 5px;
  list-style: none;
  position: relative;
  padding-left: 20px;
}

.veneer-details li::before {
  content: "✔";
  color: #ff6347;
  position: absolute;
  left: 0;
  top: 0;
}

.original-price {
  text-align: center;
  text-decoration: line-through;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.veneer-price {
  font-size: 2rem;
  font-weight: bold;
  color: #ff6347;
}

@media (min-width: 768px) {
  .pricing-card {
    text-align: left;
  }

  .veneer-title,
  .veneer-price {
    text-align: center;
  }

  .row {
    display: flex;
    align-items: stretch;
  }
}

@media (max-width: 767px) {
  .pricing-card {
    margin-bottom: 1.5rem;
  }

  .veneer-title {
    font-size: 1.5rem;
  }

  .veneer-price {
    font-size: 1.5rem;
  }
}

/* Custom CSS for Why Choose Us section */
#choose-us {
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.feature {
  background-color: #ed192e;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  height: 100%;
}

.feature:hover {
  transform: translateY(-10px);
}

.feature h3 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.feature-list {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.feature-list li {
  margin-bottom: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.feature-list i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.alternative-box {
  background-color: #000;
  color: #fff;
}

.alternative-box h3 {
  color: #fff;
}

.alternative-box i {
  color: #ed192e;
}

@media (max-width: 768px) {
  .feature-box {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .feature-box h3 {
    font-size: 1.2rem;
  }

  .feature-list li {
    font-size: 0.9rem;
  }

  .feature-list i {
    font-size: 1rem;
  }
}

/* Custom CSS for Guarantee section */
#guarantee {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.guarantee-list {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.guarantee-list li {
  margin-bottom: 15px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.guarantee-list i {
  color: #28a745;
  margin-right: 10px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .guarantee-list {
    padding-left: 0;
  }

  .guarantee-list li {
    font-size: 1rem;
  }

  .guarantee-img {
    animation: stamp 1s ease-in-out, rotate 5s linear infinite; /* Slower rotation for mobile */
  }

  .guarantee-list i {
    font-size: 1.2rem;
  }
}

/* Footer styles */
.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.company-info {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.footer h5 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ff6347;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer h5 {
    font-size: 1rem;
  }

  .footer-links li {
    margin-bottom: 8px;
  }

  .company-info {
    font-size: 0.8rem;
  }
}
